<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1>{{ title }}</h1>
    <span class="spacer"></span>
    <mat-icon>settings_applications</mat-icon>
    <span class="menu-spacer"></span>
    <mat-icon>account_box</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container autosize>
  <mat-sidenav #sidenav mode="side" opened="true">
    <mat-nav-list>
      <mat-list-item>
        <button mat-icon-button (click)="isExpanded = !isExpanded">
          <mat-icon *ngIf="!isExpanded">chevron_right</mat-icon>
          <mat-icon *ngIf="isExpanded">chevron_left</mat-icon>
        </button>
      </mat-list-item>
      <a mat-list-item routerLink=".">
        <mat-icon mat-list-icon>home</mat-icon>
        <p matLine class="sidenav-expanded" *ngIf="isExpanded">Dashboard</p>
      </a>
      <a mat-list-item routerLink="project-list">
        <mat-icon mat-list-icon>view_list</mat-icon>
        <p matLine class="sidenav-expanded" *ngIf="isExpanded">Project List</p>
      </a>
      <a mat-list-item routerLink="test-plan-list">
        <mat-icon mat-list-icon>list_alt</mat-icon>
        <p matLine class="sidenav-expanded" *ngIf="isExpanded">Test Plan List</p>
      </a>
      <a mat-list-item routerLink="test-plan-view/1">
        <mat-icon mat-list-icon>view_headline</mat-icon>
        <p matLine class="sidenav-expanded" *ngIf="isExpanded">Test Plan View</p>
      </a>
      <a mat-list-item routerLink="test-plan-create">
        <mat-icon mat-list-icon>playlist_add</mat-icon>
        <p matLine class="sidenav-expanded" *ngIf="isExpanded">Test Plan Create</p>
      </a>
      <a mat-list-item routerLink="test-effort-view/1">
          <mat-icon mat-list-icon>play_circle_outline</mat-icon>
          <p matLine class="sidenav-expanded" *ngIf="isExpanded">Test Effort View</p>
      </a>
      <a mat-list-item routerLink="test-effort-create">
        <mat-icon mat-list-icon>add_circle_outline</mat-icon>
        <p matLine class="sidenav-expanded" *ngIf="isExpanded">Test Effort Create</p>
    </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 92vh;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>