mat-card.active {
  border-top: 4px solid lightblue;
}

.blocked {
  border-top: 4px solid yellow;
}

.new {
  border-top: 4px solid white;
}

.panic {
  border-top: 4px solid red;
}

.closed {
  border-top: 4px solid grey;
}