mat-card.Active {
  border-top: 4px solid lightblue;
}

.Blocked {
  border-top: 4px solid yellow;
}

.New {
  border-top: 4px solid white;
}

.Panic {
  border-top: 4px solid red;
}

.Closed {
  border-top: 4px solid grey;
}