<div class="wrapper">
  <mat-card>
      <h1>Edit Project</h1>
      <form class="edit-form">
          <mat-form-field class="w100">
              <input matInput placeholder="Project Name" value="Exmeplary project name">
          </mat-form-field>  
          <mat-form-field class="w100">
              <input matInput placeholder="Description" value="Exemplary project description">
          </mat-form-field>
          <mat-form-field class="w100">
                  <input matInput placeholder="Status" value="New">
          </mat-form-field>
          <mat-form-field class="w100">
                  <input matInput placeholder="Author" value="Tom Jerry" readonly>
          </mat-form-field>
          <mat-form-field class="w100">
                  <input matInput placeholder="Date" value="11.12.2019" readonly>
          </mat-form-field>
          <button mat-raised-button class="mat-primary">Save</button>
          <button mat-raised-button class="mat-primary">Cancel</button>
      </form>
  </mat-card>
</div>
