.wrapper {
  padding: 10px;
}

.w100 {
  width: 100%;
}

.w-medium {
  width: 250px;
}

.icon-box {
  display: inline-block;
  color: gray;
  cursor: pointer;
  padding-left: 16px;
  vertical-align: inherit;
}

a {
  color: inherit;
}

.tr-link:hover {
  background-color: #efefef;
  cursor: pointer;
}
